

@model ShopAsp.NetCore.Models.User

<div class="container py-3">
    <div class="row">
        <div class="col-md-5 order-md-2 mb-4">
            <h4 class="d-flex justify-content-between align-items-center mb-3">
                <span class="text-muted">Giỏ hàng của bạn</span>

                <span class="badge badge-secondary badge-pill">1</span>
            </h4>
            <ul class="list-group mb-3">

                @foreach (var item in ViewData["CartItems"] as IEnumerable<ShopAsp.NetCore.Models.CartItem>)
                {
                    <li class="list-group-item d-flex justify-content-between lh-condensed">
                        <div>
                            <img width="60" src="~/assets/products/@item.Product.ImageUrl">
                            <h6 class="my-0">@item.Product.Name<small>(x @item.Cart.Quantity)</small></h6>
                        </div>
                        <span class="text-muted price">@item.Product.Price</span>
                    </li>
                }

                <li class="list-group-item d-flex justify-content-between">
                    <h6 class="font-size-12 font-rale text-success py-3"><i class="fas fa-check"></i>@ViewData["ShippingCost"]</h6>
                </li>
                <li class="list-group-item d-flex justify-content-between">
                    <strong>Tổng tiền (VNĐ)</strong>
                    <strong class="text-danger price">@ViewData["Total"]</strong>
                </li>
            </ul>
        </div>
        <div class="col-md-7 order-md-1">
            <h4 class="mb-3">Thông tin thanh toán</h4>
            <form action="lap-hoa-don.php" method="POST" class="needs-validation" novalidate="">
                <div class="row">
                    <div class="col-md-6 mb-3">
                        <label for="lastName">Họ *</label>
                        <input type="hidden" value="14990000" name="total">
                        <input type="text" class="form-control" id="lastName" name="LastName" asp-for="LastName" required="">
                        <div class="invalid-feedback">
                            Họ là bắt buộc.
                        </div>
                    </div>
                    <div class="col-md-6 mb-3">
                        <label for="firstName">Tên *</label>
                        <input type="text" class="form-control" id="firstName" name="FirstName" asp-for="FirstName" required="">
                        <div class="invalid-feedback">
                            Tên là bắt buộc.
                        </div>
                    </div>
                </div>
                <div class="mb-3">
                    <label for="phone">Số điện thoại *</label>
                    <div class="input-group">
                        <input type="number" class="form-control" placeholder="0987654321" required="">
                        <div class="invalid-feedback" style="width: 100%;">
                            Số điện thoại là bắt buộc.
                        </div>
                    </div>
                </div>
                <div class="mb-3">
                    <label for="email">Email *</label>
                    <input type="email" class="form-control" asp-for="Email" placeholder="nguyenvana@example.com" required="">
                    <div class="invalid-feedback">
                        Vui lòng nhập địa chỉ Email hợp lệ.
                    </div>
                </div>
                <div class="mb-3">
                    <label for="address">Địa chỉ *</label>
                    <input type="text" class="form-control" asp-for="Address" placeholder="Số 3, Khu phố 6, Phường Linh Trung" required="">
                    <div class="invalid-feedback">
                        Vui lòng nhập địa chỉ.
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6 mb-3">
                        <label for="city">Tỉnh / Thành phố *</label>
                        <select class="custom-select d-block w-100" id="city" required="" name="city">
                            <option value="">Chọn...</option>
                            <option value="Hồ Chí Minh">Thành phố Hồ Chí Minh</option>
                            <option value="Đồng Nai">Đồng Nai</option>
                            <option value="Phú Yên">Phú Yên</option>
                            <option value="Bình Dương">Bình Dương</option>
                            <option value="Long An">Long An</option>
                        </select>
                        <div class="invalid-feedback">
                            Vui lòng chọn tỉnh, thành hợp lệ.
                        </div>
                    </div>
                    <div class="col-md-6 mb-3">
                        <label for="district">Quận / Huyện *</label>
                        <select class="custom-select d-block w-100" id="district" name="district" required="">
                            <option value="">Chọn...</option>
                            <option value="Quận 1">Quận 1</option>
                            <option value="Quận 2">Quận 2</option>
                            <option value="Quận 3">Quận 3</option>
                            <option value="Thị xã Dĩ An">Thị xã Dĩ An</option>
                            <option value="Long Thành">Long Thành</option>
                            <option value="Tuy Hòa">Tuy Hòa</option>
                            <option value="Bến Lức">Bến Lức</option>
                            <option value="Tân Trụ">Tân Trụ</option>
                        </select>
                        <div class="invalid-feedback">
                            Vui lòng chọn quận, huyện hợp lệ.
                        </div>
                    </div>
                </div>
                <hr class="mb-4">

                <h4 class="mb-3">Hình thức thanh toán</h4>

                <div class="d-block my-3">
                    <div class="custom-control custom-radio">
                        <input id="credit" name="paymentMethod" type="radio" class="custom-control-input" checked="" required="">
                        <label class="custom-control-label" for="credit">Thanh toán tiền mặt khi nhận hàng</label>
                    </div>
                </div>

                <hr class="mb-4">
                <button class="btn btn-primary btn-lg btn-block" type="submit">Xác nhận đặt hàng</button>
            </form>
        </div>
    </div>
</div>

<script>
    (function () {
        window.addEventListener('load', function () {
            var forms = document.getElementsByClassName('needs-validation');
            var validation = Array.prototype.filter.call(forms, function (form) {
                form.addEventListener('submit', function (event) {
                    if (form.checkValidity() === false) {
                        event.preventDefault();
                        event.stopPropagation();
                    }
                    form.classList.add('was-validated');
                }, false);
            });
        }, false);
    })();
</script>