@model ShopAsp.NetCore.Models.Product

@{
    ViewData["Title"] = "Details";
}


<section id="product" class=" py-5">
    <div class="container">
        <div class="row">
            <div class=" col-lg-6" id="SP_img"><img class="img-fluid" style="transform: scale(1);" onmouseover="this.style='transform:scale(0.95,0.95)'" onmouseout="this.style='transform:scale(1,1)'" alt="@Html.DisplayFor(model => model.Name)" src="~/assets/products/@Html.DisplayFor(model => model.ImageUrl)"></div>
            <div class=" col-lg-6 py-5" id="SP_P">
                <h1 class="font-baloo">@Html.DisplayFor(model => model.Name)</h1>
                <small style="font-size:12px; font-style:italic"> by @Html.DisplayFor(model => model.Brand)</small>
                <hr class="m-0">
                <div class="row" style="margin-top:20px">
                    <div class="col-6 col-lg-5 font-rale" style="font-size:16px;"> Giá gốc: </div>
                    <div class="col-6 col-lg-7 font-rale" style="font-size:16px;"> <strike class="price">@Html.DisplayFor(model => model.Price)</strike> </div>
                    <div class="col-6 col-lg-5 font-rale" style="font-size:18px;margin-top:15px">Giá khuyến mãi: </div>
                    <div class="col-6 col-lg-7 font-rale"><span class="text-danger" style="font-size:26px;">@Html.DisplayFor(model => model.Price)</span> <br><small class="text-dark font-size-12">&nbsp;&nbsp;Bao gồm VAT 10%</small></div>
                </div>
                <div id="policy">
                    <div class="d-flex">
                        <div class="return text-center" style="margin-right: 3.5rem !important;">
                            <div class="font-size-20 my-2 color-second"><span class="fas fa-retweet border p-3 rounded-pill"></span></div>
                            <span class="font-rale font-size-14" style="color:blue">10 ngày <br> đổi trả</span>
                        </div>
                        <div class="return text-center " style="margin-right: 3.5rem !important;">
                            <div class="font-size-20 my-2 color-second"><span class="fas fa-truck  border p-3 rounded-pill"></span></div>
                            <span class="font-rale font-size-14" style="color:blue">Giao hàng <br>tận nơi</span>
                        </div>
                        <div class="return text-center" style="margin-right: 3.5rem !important;">
                            <div class="font-size-20 my-2 color-second"><span class="fas fa-check-double border p-3 rounded-pill"></span></div>
                            <span class="font-rale font-size-14" style="color:blue">Bảo hành <br>1 năm</span>
                        </div>
                    </div>
                </div>
                <hr>
                <div class="col-12" style="margin:15px auto;"><button onclick="addToCart($userId, @Html.DisplayFor(model => model.Id), 1)" class="btn btn-warning font-size-16 form-control">Thêm vào giỏ hàng</button></div>
                <div class="col-12" style="margin:15px auto;"><a onclick="addToCart($userId, @Html.DisplayFor(model => model.Id), 1)" name="product_submit" class="btn btn-danger form-control" href="../gio-hang">Mua ngay</a> </div>
            </div>
            <div class="col-12" id="SP_D" style="margin:2.5rem 0rem">
                <h6 class="font-baloo" style="text-shadow: black; font-size: 24px; font-style: initial ;">Mô tả</h6>
                <hr>
                <p>@Html.DisplayFor(model => model.Description)</p>
            </div>
        </div>
    </div>
</section>
<section id="top-sale">
    <div class="container py-5">
        <h4 class="font-rubik font-size-20">Khuyến Mãi Hot</h4>
        <hr>
        <div class="owl-carousel owl-theme owl-loaded owl-drag">
            <div class="owl-stage-outer">
                <div class="owl-stage" style="transform: translate3d(-552px, 0px, 0px); transition: all 0s ease 0s; width: 2141px;">

                </div>
            </div>
        </div>
    </div>
</section>

<script src="~/js/product-detail.js"></script>
<script>
    window.onload = function () {
        const queryString = window.location.search;
        const urlParams = new URLSearchParams(queryString);
        const id = urlParams.get('id');
        // alert(id);
        $.ajax({
            type: "POST",
            url: "chitiet.php",
            data: {
                id: id
            },
            success: function (response) {
                $('#product').html(response);
            }
        });

    }
    $(document).ready(function () {

        $("#banner-area .owl-carousel").owlCarousel({
            dots: true,
            items: 1
        });

        $(".owl-carousel").owlCarousel({
            loop: false,
            dots: false,
            responsive: {
                0: {
                    items: 2,
                    nav: false
                },
                600: {
                    items: 3,
                    nav: true
                },
                1000: {
                    items: 5,
                    nav: true
                }
            }
        });

        $(".button-group").on("click", "button", function () {
            var filterValue = $(this).attr('data-filter');
            $grid.isotope({ filter: filterValue });
        })
    });
</script>
